* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 500%; /* enough scroll space */
}

#banner {
  background-image: url("images/image.png");
  background-size: cover; 
  background-position: center; 
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #fff;
}


nav#nav1 {
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav#nav1 .container {
  display: flex;
  justify-content: center;
}

nav#nav1 a {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  font-size: 30px; 
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav#nav1 a:hover {
  color: rgb(173,12,12);
  background-color: rgb(43,43,43);
  text-decoration: underline;
}

#banner {
  background-image: url("images/image.png");
  background-size: cover; 
  background-position: center; 
  width: 100%;
  height: 700px;
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative; 
}

#Senior-Programming-Portfolio {
  text-align: left;
  font-size: 60px;
  overflow: hidden;

}